*{
    padding: 0;
    margin: 0;
     font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.contentContainer{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.contentContainer .title{
    font-size: 40px;
    color: antiquewhite;
    text-align: center;
}

.contentContainer .desc{
    width: 900px;
    text-align: center;
    padding: 20px;
    color: antiquewhite;
}

.contentContainer .buttons{
    gap: 20px;
   padding-top: 20px;
}

.contentContainer .buttons button{
    background-color: yellow;
    width: 200px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
}

#learnMoreButton{
    border: 3px solid white;
    color: white;
    background-color: transparent;
}

